# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Logs (Airflow + general logs)
# -----------------------------
logs/
*.log

# -----------------------------
# Airflow Files
# -----------------------------
airflow.db
airflow-webserver.pid
airflow-scheduler.pid

# -----------------------------
# Data Files (CSV, Parquet)
# -----------------------------
data/
*.csv
*.parquet

# -----------------------------
# Streamlit Config
# -----------------------------
.streamlit/

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Docker
# -----------------------------
*.pid
*.sock

# -----------------------------
# Temporary / Backup
# -----------------------------
*.bak
*.tmp